pipeline/pl_ingest.json
{
	"name": "pl_ingest",
	"properties": {
		"activities": [
			{
				"name": "If data exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "getPlaylistExists",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "setPlaylistId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('playlist_exists')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "first_ingest",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/deeplip/spotify_app/first_ingest",
								"baseParameters": {
									"playlist_id": {
										"value": "@variables('playlist_id')",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"pypi": {
											"package": "spotipy"
										}
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "ingest",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "next_ingests",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/deeplip/spotify_app/next_ingests",
								"baseParameters": {
									"playlist_id": {
										"value": "@variables('playlist_id')",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"pypi": {
											"package": "spotipy"
										}
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "ingest",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Transform",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "If data exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/deeplip/spotify_app/transform",
					"baseParameters": {
						"playlist_id": {
							"value": "@variables('playlist_id')",
							"type": "Expression"
						}
					},
					"libraries": [
						{
							"pypi": {
								"package": "spotipy"
							}
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "ingest",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "tables_generator",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/deeplip/spotify_app/tables_generator",
					"baseParameters": {
						"playlist_id": {
							"value": "@variables('playlist_id')",
							"type": "Expression"
						}
					},
					"libraries": [
						{
							"pypi": {
								"package": "spotipy"
							}
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "ingest",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "analyst_transform",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "tables_generator",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/deeplip/spotify_app/analyst_transform",
					"baseParameters": {
						"playlist_id": {
							"value": "@variables('playlist_id')",
							"type": "Expression"
						}
					},
					"libraries": [
						{
							"pypi": {
								"package": "spotipy"
							}
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "ingest",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookForParams",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2022-09-07T00:00:00.946Z",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "params",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "setPlaylistId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookForParams",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "playlist_id",
					"value": {
						"value": "@activity('LookForParams').output.firstRow['playlist_id']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setPlaylistName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookForParams",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "playlist_name",
					"value": {
						"value": "@activity('LookForParams').output.firstRow['playlist_name']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getPlaylistsOnStorage",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "setPlaylistName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "bronzeData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "getPlaylistExists",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getPlaylistsOnStorage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "playlist_exists",
					"value": {
						"value": "@equals(1,\n    length(\n        intersection(\n            array(variables('playlist_name')), \n                array(activity('getPlaylistsOnStorage').output.childItems[0]['name'])\n            )\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getDanceTracks",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "tables_generator",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "getDanceTracks",
						"type": "DataFlowReference",
						"datasetParameters": {
							"getFactTable": {
								"playlist_name": {
									"value": "@variables('playlist_name')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"playlist_id": {
				"type": "String"
			},
			"playlist_name": {
				"type": "String"
			},
			"if": {
				"type": "String"
			},
			"ifa": {
				"type": "Boolean"
			},
			"playlists_folders_ls": {
				"type": "Array"
			},
			"playlist_exists": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}