pipeline/pl_ingest.json
{
	"name": "pl_ingest",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Global exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Global exists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "first_ingest",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/deeplip/spotify_app/first_ingest",
								"baseParameters": {
									"playlist_id": "37i9dQZEVXbMDoHDwVN2tF"
								},
								"libraries": [
									{
										"pypi": {
											"package": "spotipy"
										}
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "ingest",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "next_ingests",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/deeplip/spotify_app/next_ingests",
								"baseParameters": {
									"playlist_id": "37i9dQZEVXbMDoHDwVN2tF"
								}
							},
							"linkedServiceName": {
								"referenceName": "ingest",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Global exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Transform",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/deeplip/spotify_app/transform",
					"baseParameters": {
						"playlist_id": "37i9dQZEVXbMDoHDwVN2tF"
					}
				},
				"linkedServiceName": {
					"referenceName": "ingest",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"playlist_world": {
				"type": "Array"
			},
			"playlist": {
				"type": "String"
			},
			"first_ingest": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}