spotifydatafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "spotifydatafactory"
		},
		"ADLS_spotify_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS_spotify'"
		},
		"ingest_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ingest'"
		},
		"spotify_blob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'spotify_blob'"
		},
		"ADLS_spotify_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://spotify0storage.dfs.core.windows.net/"
		},
		"on_config_runs_appear_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/4522d4bf-e71e-4336-86b4-d2c35cdae500/resourceGroups/Spotify/providers/Microsoft.Storage/storageAccounts/spotify0storage"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If data exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Global exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Global exists').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "first_ingest",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/deeplip/spotify_app/first_ingest",
										"baseParameters": {
											"playlist_id": "37i9dQZEVXbMDoHDwVN2tF"
										},
										"libraries": [
											{
												"pypi": {
													"package": "spotipy"
												}
											}
										]
									},
									"linkedServiceName": {
										"referenceName": "ingest",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "next_ingests",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/deeplip/spotify_app/next_ingests",
										"baseParameters": {
											"playlist_id": "37i9dQZEVXbMDoHDwVN2tF"
										},
										"libraries": [
											{
												"pypi": {
													"package": "spotipy"
												}
											}
										]
									},
									"linkedServiceName": {
										"referenceName": "ingest",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Global exists",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Global50",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Transform",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "If data exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/deeplip/spotify_app/transform",
							"libraries": [
								{
									"pypi": {
										"package": "spotipy"
									}
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "ingest",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "tables_generator",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Transform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/deeplip/spotify_app/tables_generator",
							"baseParameters": {
								"playlist_id": "37i9dQZEVXbMDoHDwVN2tF"
							},
							"libraries": [
								{
									"pypi": {
										"package": "spotipy"
									}
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "ingest",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "analyst_transform",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "tables_generator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/deeplip/spotify_app/analyst_transform"
						},
						"linkedServiceName": {
							"referenceName": "ingest",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"playlist_id": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Global50')]",
				"[concat(variables('factoryId'), '/linkedServices/ingest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Global50')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_spotify",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Top50-Global",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_spotify')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/params')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_spotify",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "runs",
						"fileSystem": "params"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"playlist_id": {
							"type": "string"
						},
						"playlist_name": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_spotify')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/params_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "spotify_blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "runs",
						"container": "params"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/spotify_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_spotify')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_spotify_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS_spotify_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5206792450053498.18.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ingest_accessToken')]"
					},
					"newClusterNodeType": "Standard_F4",
					"newClusterNumOfWorker": "1",
					"newClusterSparkConf": {
						"fs.azure.account.key.spotify0storage.dfs.core.windows.net ": "c1PsWwiDIDlpvUEdpnpNTvxR2HLsqlBNQk/US/4za2x/NV1UcGhMLjGvkONN4JZIHL4knn+S8iLi+AStjwIiVw=="
					},
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "10.4.x-cpu-ml-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/spotify_blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('spotify_blob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/on_config_runs_appear')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_ingest",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/params/blobs/",
					"blobPathEndsWith": ".json",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('on_config_runs_appear_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest')]"
			]
		}
	]
}